In [77]:
import numpy as np
import os
import pandas as pd
import arcpy

# Import the required ArcGIS API for Python modules
import arcgis
from arcgis.gis import GIS
gis = arcgis.GIS()
from arcgis.geoanalytics import manage_data

from IPython.display import display, Markdown

In [78]:
dirWork         = os.getcwd()
dirInput        = os.path.join(dirWork, r'input'       )
dirIntermediate = os.path.join(dirWork, r'intermediate')
dirResults      = os.path.join(dirWork, r'results'     )

print("Working Directory: "      + dirWork        )
print("Input Directory: "        + dirInput       )
print("Intermediate Directory: " + dirIntermediate)
print("Results Directory: "      + dirResults     )

Working Directory: E:\GitHub\Continuous-Count-Station-Data
Input Directory: E:\GitHub\Continuous-Count-Station-Data\input
Intermediate Directory: E:\GitHub\Continuous-Count-Station-Data\intermediate
Results Directory: E:\GitHub\Continuous-Count-Station-Data\results

In [79]:
#import excel spreadsheet

filename_File1 = os.path.join(dirInput, r'UDOT\2019 Station 301-513.xlsx')
filename_File2 = os.path.join(dirInput, r'UDOT\2019 Station 601-716.xlsx')

xl_file1 = pd.ExcelFile(filename_File1)
xl_file2 = pd.ExcelFile(filename_File2)



dfs1 = {sheet_name: xl_file1.parse(sheet_name) 
        for sheet_name in xl_file1.sheet_names}
dfs2 = {sheet_name: xl_file2.parse(sheet_name) 
        for sheet_name in xl_file2.sheet_names}

In [80]:
#shapefile names with Station field
shp_AADT      = os.path.join(dirInput, r'AADT_Open_Data\AADT_Open_Data.shp')

#shapefile with CCSs
shp_CCS       = os.path.join(dirInput, r'UDOT\Continuous_Count_Station_Locations.shp')

#joined shapefile intermediate
shp_CCStoAADT = os.path.join(dirIntermediate, r'CCStoAADT.shp')

#excel spreadsheet with truck data
filename_Trucks = os.path.join(dirInput, r'UDOT\Truck AADT 2019.xlsx')
shp_AADT_onlywithtruckstations = os.path.join(dirIntermediate, r'AADT_Open_Data_WithTruckStations.shp')

xl_trucks = pd.ExcelFile(filename_Trucks)
dfs_trucks = {sheet_name: xl_trucks.parse(sheet_name) 
        for sheet_name in xl_trucks.sheet_names}

In [81]:
#display(dfs1['0301'])
display(dfs2)

{'0601':      STATION       DATE  ROUTE     MP    LANE  0000  0100  0200  0300  0400  \
 0       -601 2019-01-01     92  7.873  NLane1    21    15    16     6     3
 1       -601 2019-01-01     92  7.873  PLane1    15     7     4     4     3
 2       -601 2019-01-02     92  7.873  NLane1     3     2     3     3     1
 3       -601 2019-01-02     92  7.873  PLane1     0     3     1     3     0
 4       -601 2019-01-03     92  7.873  NLane1     4     5     1     0     0
 ..       ...        ...    ...    ...     ...   ...   ...   ...   ...   ...
 649     -601 2019-12-29     92  7.873  PLane1     8     3     0     0     1
 650     -601 2019-12-30     92  7.873  NLane1     0     0     2     0     1
 651     -601 2019-12-30     92  7.873  PLane1     0     1     1     0     1
 652     -601 2019-12-31     92  7.873  NLane1     7     4     3     0     1
 653     -601 2019-12-31     92  7.873  PLane1     3     2     2     1     0

      ...  1500  1600  1700  1800  1900  2000  2100  2200  2300  TOTAL
 0    ...   241   270   160    43    18    20    21    32     9   1351
 1    ...   176   106    37     9    15    23    24    16     4   1308
 2    ...    77    85    75    21    15    12     8    11     9    471
 3    ...    69    55    27    19    13     9     7     9     5    465
 4    ...    44    56    44    25     5     5    10    12    11    387
 ..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
 649  ...   104    77    31     7    11     3     5     3     1    641
 650  ...    96   108    91    22    10    23    14    26    15    662
 651  ...    86    45    13    18    12    18    22    13    13    671
 652  ...   100   131    80    24     6     6    12    20     4    724
 653  ...    82    48    19    14    10     9    14    13    17    754

 [654 rows x 30 columns],
 '0602':      STATION       DATE  ROUTE      MP    LANE  0000  0100  0200  0300  0400  \
 0       -602 2019-01-01     92  22.487  NLane1   0.0   0.0   0.0   0.0   0.0
 1       -602 2019-01-01     92  22.487  NLane2   0.0   0.0   0.0   0.0   0.0
 2       -602 2019-01-01     92  22.487  PLane1   0.0   0.0   0.0   0.0   0.0
 3       -602 2019-01-02     92  22.487  NLane1   0.0   0.0   0.0   0.0   0.0
 4       -602 2019-01-02     92  22.487  NLane2   0.0   0.0   0.0   0.0   0.0
 ..       ...        ...    ...     ...     ...   ...   ...   ...   ...   ...
 892     -602 2019-12-30     92  22.487  NLane2   0.0   0.0   0.0   0.0   0.0
 893     -602 2019-12-30     92  22.487  PLane1   2.0   0.0   0.0   0.0   0.0
 894     -602 2019-12-31     92  22.487  NLane1   0.0   0.0   0.0   0.0   0.0
 895     -602 2019-12-31     92  22.487  NLane2   0.0   0.0   0.0   0.0   0.0
 896     -602 2019-12-31     92  22.487  PLane1   0.0   0.0   0.0   0.0   0.0

      ...  1500  1600  1700  1800  1900  2000  2100  2200  2300  TOTAL
 0    ...     6     3     1     1     0     0     1     0     0     24
 1    ...    20    19     6     0     1     2     1     0     0    212
 2    ...    41    41    15     3     1     4     1     0     0    246
 3    ...     0     0     0     0     0     0     0     0     0      3
 4    ...    10     2     6     3     0     0     0     0     0     82
 ..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
 892  ...     4     0     0     0     0     0     0     0     0     21
 893  ...    15    22     7     0     0     1     0     1     0    107
 894  ...    25     9     5     2     1     1     4     0     0    140
 895  ...     5     2     1     0     0     0     1     0     0     36
 896  ...    33    26     9     3     1     3     0     1     1    163

 [897 rows x 30 columns],
 '0605':       STATION       DATE  ROUTE    MP    LANE  0000  0100  0200  0300  0400  \
 0        -605 2019-01-01    224  8.92  NLane1    13    11     5     2     0
 1        -605 2019-01-01    224  8.92  NLane2   125   120    68    44    36
 2        -605 2019-01-01    224  8.92  NLane3   113   102    62    32    17
 3        -605 2019-01-01    224  8.92  PLane1   281   249   171    64    44
 4        -605 2019-01-01    224  8.92  PLane2   244   205   127    53    28
 ...       ...        ...    ...   ...     ...   ...   ...   ...   ...   ...
 1675     -605 2019-12-31    224  8.92  NLane1     7     2     4     1     3
 1676     -605 2019-12-31    224  8.92  NLane2    48    37    11    19    30
 1677     -605 2019-12-31    224  8.92  NLane3    46    26    13    16    15
 1678     -605 2019-12-31    224  8.92  PLane1   119    70    23    13    38
 1679     -605 2019-12-31    224  8.92  PLane2    83    52    20    20    28

       ...  1500  1600  1700  1800  1900  2000  2100  2200  2300  TOTAL
 0     ...   115    76    69    30    28    15    19    13     8   1784
 1     ...   532   492   422   333   333   231   180   132    66   7466
 2     ...   635   615   517   360   270   207   160   100    39   7962
 3     ...   887   992   747   576   396   296   236   212   177   9392
 4     ...   901  1005   826   536   337   286   181   176   154   9021
 ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
 1675  ...   198   194   165   181   156    44    43    40    20   3222
 1676  ...   579   549   470   466   393   317   222   228   169   8595
 1677  ...   694   646   580   507   359   298   218   219   136  10074
 1678  ...   958  1032   889   595   498   411   336   298   251  10645
 1679  ...   965  1039   860   517   391   452   302   309   269  10235

 [1680 rows x 30 columns],
 '0606':       STATION       DATE  ROUTE     MP    LANE   0000   0100  0200  0300  \
 0        -606 2019-01-01    248  2.561  NLane1   47.0   36.0  26.0  14.0
 1        -606 2019-01-01    248  2.561  NLane2   74.0   85.0  47.0  19.0
 2        -606 2019-01-01    248  2.561  PLane1  151.0  116.0  63.0  30.0
 3        -606 2019-01-01    248  2.561  PLane2  155.0  131.0  69.0  48.0
 4        -606 2019-01-02    248  2.561  NLane1    8.0    3.0   2.0   6.0
 ...       ...        ...    ...    ...     ...    ...    ...   ...   ...
 1267     -606 2019-12-30    248  2.561  PLane2   47.0   32.0  15.0  11.0
 1268     -606 2019-12-31    248  2.561  NLane1   24.0   13.0   6.0   1.0
 1269     -606 2019-12-31    248  2.561  NLane2   28.0   16.0   6.0  16.0
 1270     -606 2019-12-31    248  2.561  PLane1   54.0   32.0  12.0   7.0
 1271     -606 2019-12-31    248  2.561  PLane2   58.0   43.0  13.0   7.0

       0400  ...  1500  1600  1700  1800  1900  2000  2100  2200  2300  TOTAL
 0     11.0  ...   273   236   208   109    86    51    63    31    25   3151
 1     29.0  ...   322   303   241   161   120    89    72    60    36   4775
 2      8.0  ...   408   534   427   228   159   138   118   121   114   3885
 3     15.0  ...   434   523   386   235   180   141   134   113   104   4428
 4     11.0  ...   383   332   344   166   145   127    69    51    40   5201
 ...    ...  ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
 1267  13.0  ...   672   726   648   598   299   224   194   180   149   7399
 1268   7.0  ...   365   347   237   167   138   107    90   104    76   5150
 1269  36.0  ...   459   406   300   259   196   163   130   147    88   6897
 1270   1.0  ...   557   625   586   304   185   184   147   181   140   4940
 1271   4.0  ...   663   722   612   354   209   188   165   192   169   6712

 [1272 rows x 30 columns],
 '0609':      STATION       DATE  ROUTE    MP    LANE  0000  0100  0200  0300  0400  \
 0       -609 2019-01-01    167  1.25  NLane1   112    26    11     8     7
 1       -609 2019-01-01    167  1.25  PLane1   101    52    15    13     8
 2       -609 2019-01-02    167  1.25  NLane1     9     8     3     9    40
 3       -609 2019-01-02    167  1.25  PLane1    18     6     6     1    10
 4       -609 2019-01-03    167  1.25  NLane1     9     5     6    13    37
 ..       ...        ...    ...   ...     ...   ...   ...   ...   ...   ...
 661     -609 2019-12-29    167  1.25  PLane1    43    19     9     8     4
 662     -609 2019-12-30    167  1.25  NLane1    12    13     5     6    30
 663     -609 2019-12-30    167  1.25  PLane1    15    16     4     6     5
 664     -609 2019-12-31    167  1.25  NLane1    18     7     6     7    39
 665     -609 2019-12-31    167  1.25  PLane1    28     8     8     7    10

      ...  1500  1600  1700  1800  1900  2000  2100  2200  2300  TOTAL
 0    ...   549   580   332   188   106    79    46    31    11   3815
 1    ...   245   229   201   175   165   104    79    46    31   3634
 2    ...   391   524   361   169    98    65    38    24    14   4546
 3    ...   324   386   478   353   210   129   114    61    35   4442
 4    ...   452   513   360   181    97    92    41    24    12   4773
 ..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
 661  ...   213   224   149   124   100    87    84    49    36   3561
 662  ...   645   806   395   182   104    75    57    35    29   5704
 663  ...   389   407   360   269   210   168   146   115    57   5624
 664  ...   567   677   353   170   128    97    81    80    59   5552
 665  ...   303   461   360   323   189   125   116    93    51   5594

 [666 rows x 30 columns],
 '0611':       STATION       DATE  ROUTE     MP    LANE   0000   0100   0200  0300  \
 0        -611 2019-01-01     15  258.6  NLane1  212.0  148.0   83.0  39.0
 1        -611 2019-01-01     15  258.6  NLane2  312.0  218.0  130.0  76.0
 2        -611 2019-01-01     15  258.6  NLane3  353.0  234.0  132.0  68.0
 3        -611 2019-01-01     15  258.6  NLane4  139.0   90.0   41.0  11.0
 4        -611 2019-01-01     15  258.6  NLane5   83.0   50.0   17.0   3.0
 ...       ...        ...    ...    ...     ...    ...    ...    ...   ...
 2915     -611 2019-11-29     15  258.6  PLane1   65.0   23.0   24.0  37.0
 2916     -611 2019-11-29     15  258.6  PLane2   96.0   53.0   35.0  56.0
 2917     -611 2019-11-29     15  258.6  PLane3  104.0   58.0   33.0  74.0
 2918     -611 2019-11-29     15  258.6  PLane4   61.0   35.0   14.0  20.0
 2919     -611 2019-11-29     15  258.6  PLane5   20.0    9.0    0.0   0.0

        0400  ...  1500  1600  1700  1800  1900  2000  2100  2200  2300  TOTAL
 0      30.0  ...   533   570   547   486   368   251   210   133    89   6579
 1      62.0  ...   775   757   761   661   521   398   306   206   138   9738
 2      85.0  ...   805   774   729   696   560   402   315   216   166  10297
 3       9.0  ...   509   418   394   384   277   192   135    83    48   5385
 4       4.0  ...   233   205   185   170   124    92    63    44    21   2472
 ...     ...  ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
 2915   88.0  ...   434   401   361   307   248   197   145   118    66   6265
 2916  108.0  ...   539   514   493   413   348   257   234   195   121   8820
 2917  148.0  ...   745   683   617   483   484   346   307   236   160  11098
 2918   66.0  ...   630   563   480   346   295   217   156   166    86   8093
 2919   10.0  ...   332   334   248   172   155    93    65    67    27   3915

 [2920 rows x 30 columns],
 '0612':       STATION       DATE  ROUTE       MP    LANE   0000   0100   0200   0300  \
 0        -612 2019-01-01     15  331.071  NLane1  257.0  127.0   69.0   59.0
 1        -612 2019-01-01     15  331.071  NLane2  347.0  253.0  138.0  128.0
 2        -612 2019-01-01     15  331.071  NLane3  426.0  271.0  164.0  114.0
 3        -612 2019-01-01     15  331.071  NLane4  154.0   98.0   30.0   19.0
 4        -612 2019-01-01     15  331.071  PLane1  248.0  261.0  110.0   59.0
 ...       ...        ...    ...      ...     ...    ...    ...    ...    ...
 2659     -612 2019-12-31     15  331.071  NLane4   13.0   10.0   16.0   25.0
 2660     -612 2019-12-31     15  331.071  PLane1  103.0   66.0   49.0   24.0
 2661     -612 2019-12-31     15  331.071  PLane2  283.0  219.0  147.0  139.0
 2662     -612 2019-12-31     15  331.071  PLane3  190.0  111.0   74.0   69.0
 2663     -612 2019-12-31     15  331.071  PLane4   36.0   15.0   10.0    9.0

        0400  ...  1500  1600  1700  1800  1900  2000  2100  2200  2300  TOTAL
 0      56.0  ...   643   694   635   568   469   317   208   173   101   7829
 1     127.0  ...   929   870   828   706   631   447   372   252   176  11523
 2     122.0  ...  1213  1179  1190  1086   870   669   524   335   157  14985
 3      16.0  ...   855   857   860   705   545   339   210   109    38   8564
 4      43.0  ...   783   743   698   652   469   290   239   175   107   8641
 ...     ...  ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
 2659  116.0  ...  1208  1106  1057   823   571   402   269   190    86  14278
 2660   79.0  ...  1123  1106   939   773   492   406   271   259   179  12143
 2661  195.0  ...  1675  1542  1418  1295  1027   784   718   624   423  21533
 2662  114.0  ...  1625  1558  1413  1129   842   591   517   400   243  19240
 2663    5.0  ...  1359  1220   936   646   360   227   199   121    77  10387

 [2664 rows x 30 columns],
 '0613':       STATION       DATE  ROUTE     MP    LANE  0000  0100  0200  0300  0400  \
 0        -613 2019-01-01     15  360.8  NLane1   129   126    81    66    70
 1        -613 2019-01-01     15  360.8  NLane2   134    98    50    32    43
 2        -613 2019-01-01     15  360.8  NLane3    23    22     9     7     5
 3        -613 2019-01-01     15  360.8  PLane1   142   128    70    59    49
 4        -613 2019-01-01     15  360.8  PLane2   152   172    64    80    56
 ...       ...        ...    ...    ...     ...   ...   ...   ...   ...   ...
 2005     -613 2019-12-31     15  360.8  NLane2    36    45    35    72   164
 2006     -613 2019-12-31     15  360.8  NLane3     6     7     4     5    35
 2007     -613 2019-12-31     15  360.8  PLane1   128    99    87    84   124
 2008     -613 2019-12-31     15  360.8  PLane2   102   102    45    73   109
 2009     -613 2019-12-31     15  360.8  PLane3    31    18    14    11    19

       ...  1500  1600  1700  1800  1900  2000  2100  2200  2300  TOTAL
 0     ...   474   484   419   390   328   277   234   164   104   6043
 1     ...   908   906   850   711   546   391   303   189    73   9536
 2     ...   569   580   534   415   265   129    88    43    18   4858
 3     ...   425   455   421   376   339   292   240   174   104   6030
 4     ...   747   738   667   588   526   444   323   201   138   9141
 ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
 2005  ...   924   934   801   685   493   363   256   211   137  11658
 2006  ...   601   665   585   446   262   147    72    39    23   6304
 2007  ...   502   550   506   409   335   233   244   195   136   7155
 2008  ...   934   905   827   669   447   329   287   261   174  11084
 2009  ...   600   565   472   364   197   125    90    80    42   5395

 [2010 rows x 30 columns],
 '0614':       STATION       DATE  ROUTE     MP    LANE  0000  0100  0200  0300  0400  \
 0        -614 2019-01-01     84  36.64  NLane1    50    26    25    25    42
 1        -614 2019-01-01     84  36.64  NLane2     4     4     5     1     3
 2        -614 2019-01-01     84  36.64  PLane1    41    31    19    32    22
 3        -614 2019-01-01     84  36.64  PLane2     3     1     3     5     3
 4        -614 2019-01-02     84  36.64  NLane1    35    30    36    40    49
 ...       ...        ...    ...    ...     ...   ...   ...   ...   ...   ...
 1323     -614 2019-12-30     84  36.64  PLane2     4     2     1     3     4
 1324     -614 2019-12-31     84  36.64  NLane1    45    54    43    47    61
 1325     -614 2019-12-31     84  36.64  NLane2    11     5     5     1     5
 1326     -614 2019-12-31     84  36.64  PLane1    56    45    44    46    43
 1327     -614 2019-12-31     84  36.64  PLane2     7     7     8     6     4

       ...  1500  1600  1700  1800  1900  2000  2100  2200  2300  TOTAL
 0     ...   242   217   179   172   133    97    82    54    64   3219
 1     ...    76    85    38    44    26    22    20     7     9    877
 2     ...   307   306   276   232   198   156   136    74    58   3250
 3     ...    91   120    95    93    60    34    40    13     8    891
 4     ...   261   209   194   178   141   114    94    73    66   3567
 ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
 1323  ...   104    82    93    86    48    36    21    15     7    922
 1324  ...   247   233   179   153   122    85    82    67    41   3475
 1325  ...    81    65    50    46    35    14    28     4     6   1023
 1326  ...   308   263   249   200   175   134   104    71    65   3603
 1327  ...   102    90    91    56    46    28    16    15    12    971

 [1328 rows x 30 columns],
 '0615':      STATION       DATE  ROUTE     MP    LANE   0000   0100   0200   0300  \
 0       -615 2019-01-01     80  100.0  NLane1  335.0  375.0  186.0  140.0
 1       -615 2019-01-01     80  100.0  NLane2   82.0   71.0   29.0   17.0
 2       -615 2019-01-01     80  100.0  PLane1  301.0  219.0  190.0  226.0
 3       -615 2019-01-01     80  100.0  PLane2   82.0   56.0   31.0   42.0
 4       -615 2019-01-02     80  100.0  NLane1  142.0   92.0   70.0   68.0
 ..       ...        ...    ...    ...     ...    ...    ...    ...    ...
 843     -615 2019-08-03     80  100.0  PLane2   81.0   43.0   48.0   58.0
 844     -615 2019-08-04     80  100.0  NLane1  418.0  231.0  156.0  118.0
 845     -615 2019-08-04     80  100.0  NLane2   98.0   46.0   18.0   16.0
 846     -615 2019-08-04     80  100.0  PLane1  296.0  229.0  183.0  192.0
 847     -615 2019-08-04     80  100.0  PLane2   94.0   76.0   53.0   64.0

       0400  ...  1500  1600  1700  1800  1900  2000  2100  2200  2300  TOTAL
 0    100.0  ...   855   763   769   738   659   471   369   257   130  10488
 1     13.0  ...   374   301   300   255   204   121    77    58    70   3541
 2    205.0  ...   807   762   669   597   493   406   340   217   160  10687
 3     40.0  ...   379   361   313   269   190   153   119    54    25   4234
 4    179.0  ...  1269  1774  1844  1347   755   570   516   428   247  15506
 ..     ...  ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
 843   86.0  ...   579   607   557   498   327   312   293   285   188   8881
 844  172.0  ...   962   974   884   869   762   722   633   388   277  13340
 845   36.0  ...   509   510   417   385   335   271   200   118    39   5549
 846  200.0  ...   824   885   814   751   656   542   497   381   215  12445
 847   53.0  ...   492   517   456   416   299   249   254   162    71   6279

 [848 rows x 30 columns],
 '0616':       STATION       DATE  ROUTE      MP    LANE  0000  0100  0200  0300  0400  \
 0        -616 2019-01-01     15  314.29  NLane1   177   106    82    80    59
 1        -616 2019-01-01     15  314.29  NLane2   335   241   135   113   129
 2        -616 2019-01-01     15  314.29  NLane3   398   292   179   126   108
 3        -616 2019-01-01     15  314.29  NLane4   366   290   181   100    77
 4        -616 2019-01-01     15  314.29  NLane5   208   142    63    28    30
 ...       ...        ...    ...     ...     ...   ...   ...   ...   ...   ...
 3595     -616 2019-12-31     15  314.29  PLane2   192   136    83    89   138
 3596     -616 2019-12-31     15  314.29  PLane3   205   155   118    86   131
 3597     -616 2019-12-31     15  314.29  PLane4   253   160    95    85   123
 3598     -616 2019-12-31     15  314.29  PLane5   123    68    33    31    45
 3599     -616 2019-12-31     15  314.29  PLane6    23     5     3     6     3

       ...  1500  1600  1700  1800  1900  2000  2100  2200  2300  TOTAL
 0     ...   419   365   431   385   321   263   248   164    91   5344
 1     ...   715   699   723   718   560   446   373   231   187   9942
 2     ...   811   836   823   717   566   510   417   289   195  11297
 3     ...   916   907   937   804   703   581   458   298   176  12477
 4     ...   825   788   803   679   502   430   265   164    88   9062
 ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...

In [82]:
dfs1.update(dfs2)

df_CCSHourDirLane = dfs1['0301'][0:0] #just copy column info

#take out of dictionary and put into single dataframe
for key in dfs1:
    #display(key)
    
    df_CCSHourDirLane = df_CCSHourDirLane.append(dfs1[key], ignore_index=True)
    
#normalize dataset to make calculations easier
dColHours = ['0000','0100','0200','0300','0400','0500','0600','0700','0800','0900','1000','1100','1200','1300','1400','1500','1600','1700','1800','1900','2000','2100','2200','2300']
df_CCSHourDirLane = pd.melt(df_CCSHourDirLane, id_vars=['STATION','DATE','ROUTE','MP','LANE'], value_vars=dColHours)

#rename melted columns
df_CCSHourDirLane = df_CCSHourDirLane.rename(columns={"variable": "HOUR", "value": "HOURVOL"})

#split LANE values into direction and lane number
df_CCSHourDirLane['DIR' ] = df_CCSHourDirLane['LANE'].str[0]
df_CCSHourDirLane['LANE'] = df_CCSHourDirLane['LANE'].str[5].astype(int)

#replace P and N with POS and NEG
df_CCSHourDirLane.loc[df_CCSHourDirLane.DIR == 'P', 'DIR'] = 'POS'
df_CCSHourDirLane.loc[df_CCSHourDirLane.DIR == 'N', 'DIR'] = 'NEG'

#get rid of negative sign on station ids
df_CCSHourDirLane['STATION'] = df_CCSHourDirLane['STATION'] * -1

#drop rows with null volumes
df_CCSHourDirLane = df_CCSHourDirLane.dropna()

df_CCSHourDirLane

         STATION       DATE ROUTE      MP  LANE  HOUR  HOURVOL  DIR
0            301 2019-01-01    80  129.00     1  0000    116.0  NEG
1            301 2019-01-01    80  129.00     2  0000    236.0  NEG
2            301 2019-01-01    80  129.00     3  0000     62.0  NEG
3            301 2019-01-01    80  129.00     1  0000     70.0  POS
4            301 2019-01-01    80  129.00     2  0000    158.0  POS
...          ...        ...   ...     ...   ...   ...      ...  ...
4127659      716 2019-07-29    18    3.37     2  2300     62.0  NEG
4127660      716 2019-07-29    18    3.37     3  2300    112.0  NEG
4127661      716 2019-07-29    18    3.37     1  2300      3.0  POS
4127662      716 2019-07-29    18    3.37     2  2300     42.0  POS
4127663      716 2019-07-29    18    3.37     3  2300     49.0  POS

[4103125 rows x 8 columns]

In [83]:
df_CCSHourDir = df_CCSHourDirLane.groupby(['STATION','DATE','ROUTE','MP','HOUR','DIR'],as_index=False).agg({'HOURVOL':[np.sum]})
df_CCSHourDir = df_CCSHourDir.droplevel(1, axis=1)
df_CCSHourDir

         STATION       DATE ROUTE      MP  HOUR  DIR  HOURVOL
0            301 2019-01-01    80  129.00  0000  NEG    414.0
1            301 2019-01-01    80  129.00  0000  POS    262.0
2            301 2019-01-01    80  129.00  0100  NEG    431.0
3            301 2019-01-01    80  129.00  0100  POS    230.0
4            301 2019-01-01    80  129.00  0200  NEG    296.0
...          ...        ...   ...     ...   ...  ...      ...
1732539      716 2019-07-29    18    3.37  2100  POS    265.0
1732540      716 2019-07-29    18    3.37  2200  NEG    151.0
1732541      716 2019-07-29    18    3.37  2200  POS    130.0
1732542      716 2019-07-29    18    3.37  2300  NEG    177.0
1732543      716 2019-07-29    18    3.37  2300  POS     94.0

[1732544 rows x 7 columns]

In [84]:
df_CCSHourDir.dtypes

STATION             int64
DATE       datetime64[ns]
ROUTE              object
MP                float64
HOUR               object
DIR                object
HOURVOL           float64
dtype: object

In [85]:
#get hourly average for each month for each hour

#set month field
df_CCSHourDir['MONTH'] = df_CCSHourDir['DATE'].dt.month
df_CCSHourDir['DOW']   = df_CCSHourDir['DATE'].dt.day_name()

df_CCSAvg_MonthDOWHourDir = df_CCSHourDir.groupby(['STATION','ROUTE','MP','DIR','MONTH','DOW','HOUR'],as_index=False).agg({'HOURVOL':[np.mean]})
df_CCSAvg_MonthDOWHourDir = df_CCSAvg_MonthDOWHourDir.droplevel(1, axis=1)
df_CCSAvg_MonthDOWHourDir

        STATION ROUTE      MP  DIR  MONTH     DOW  HOUR  HOURVOL
0           301    80  129.00  NEG      1  Friday  0000   403.50
1           301    80  129.00  NEG      1  Friday  0100   248.00
2           301    80  129.00  NEG      1  Friday  0200   177.75
3           301    80  129.00  NEG      1  Friday  0300   109.75
4           301    80  129.00  NEG      1  Friday  0400   128.50
...         ...   ...     ...  ...    ...     ...   ...      ...
444687      716    18    3.37  POS      7  Monday  1900   452.00
444688      716    18    3.37  POS      7  Monday  2000   397.00
444689      716    18    3.37  POS      7  Monday  2100   265.00
444690      716    18    3.37  POS      7  Monday  2200   130.00
444691      716    18    3.37  POS      7  Monday  2300    94.00

[444692 rows x 8 columns]

In [86]:
df_1 = df_CCSHourDir.groupby(['STATION','MONTH','DATE'],as_index=False).agg({'HOURVOL':[np.size]})
df_2 = df_1.groupby(['STATION','MONTH'],as_index=False).agg({'DATE':[np.size]})
df_2 = df_2.droplevel(1, axis=1)
df_3 = df_2.pivot_table(index=['STATION'], columns='MONTH', values='DATE').reset_index()
df_3.to_csv(os.path.join(dirIntermediate, r'StationMonthDays.csv'),index=False)

PermissionError: [Errno 13] Permission denied: 'E:\\GitHub\\Continuous-Count-Station-Data\\intermediate\\StationMonthDays.csv'

In [ ]:
df_CCSAvg_MonthDOWHourDir_CountHours = df_CCSAvg_MonthDOWHourDir.groupby(['STATION','ROUTE','MP','DIR','MONTH','DOW'],as_index=False).agg({'HOURVOL':[np.size]})
df_CCSAvg_MonthDOWHourDir_CountHours = df_CCSAvg_MonthDOWHourDir_CountHours.droplevel(1, axis=1)
df_CCSAvg_MonthDOWHourDir_CountHours = df_CCSAvg_MonthDOWHourDir_CountHours.rename(columns={"HOURVOL": "HOURCOUNT"})
df_CCSAvg_MonthDOWHourDir_CountHours

In [ ]:
df_CCSAvg_MonthDOWHourDir_CountHours24 = df_CCSAvg_MonthDOWHourDir_CountHours[df_CCSAvg_MonthDOWHourDir_CountHours['HOURCOUNT']==24]
df_CCSAvg_MonthDOWHourDir_CountHours24

In [ ]:
df_CCSAvg_MonthDOWHourDir_CountDaysWith24Hours = df_CCSAvg_MonthDOWHourDir_CountHours24.groupby(['STATION','ROUTE','MP','DIR','MONTH'],as_index=False).agg({'DOW':[np.size]})
df_CCSAvg_MonthDOWHourDir_CountDaysWith24Hours = df_CCSAvg_MonthDOWHourDir_CountDaysWith24Hours.droplevel(1, axis=1)
df_CCSAvg_MonthDOWHourDir_CountDaysWith24Hours = df_CCSAvg_MonthDOWHourDir_CountDaysWith24Hours.rename(columns={"DOW": "DOWW24HRS"})
df_CCSAvg_MonthDOWHourDir_CountDaysWith24Hours

In [ ]:
#combine directions, should by 14 days or 14/2=7
df_CCSAvg_MonthDOW_CountDaysWith24Hours = df_CCSAvg_MonthDOWHourDir_CountDaysWith24Hours.groupby(['STATION','ROUTE','MP','MONTH'],as_index=False).agg({'DOWW24HRS':[np.sum]})
df_CCSAvg_MonthDOW_CountDaysWith24Hours = df_CCSAvg_MonthDOW_CountDaysWith24Hours.droplevel(1, axis=1)
df_CCSAvg_MonthDOW_CountDaysWith24Hours = df_CCSAvg_MonthDOW_CountDaysWith24Hours.rename(columns={"DOW": "DOWW24HRS"})
df_CCSAvg_MonthDOW_CountDaysWith24Hours['DOWW24HRS'] = df_CCSAvg_MonthDOW_CountDaysWith24Hours['DOWW24HRS']/2
df_CCSAvg_MonthDOW_CountDaysWith24Hours

In [ ]:
df_CCS_MonthsWith7DaysOfDay = df_CCSAvg_MonthDOW_CountDaysWith24Hours[df_CCSAvg_MonthDOW_CountDaysWith24Hours['DOWW24HRS']==7]
df_CCS_MonthsWith7DaysOfDay[df_CCS_MonthsWith7DaysOfDay['MONTH']==8]

In [ ]:
#combine months, should be 12 if we want to use
df_CCS_12Months = df_CCS_MonthsWith7DaysOfDay.groupby(['STATION','ROUTE','MP'],as_index=False).agg({'MONTH':[np.size]})
df_CCS_12Months = df_CCS_12Months.droplevel(1, axis=1)
df_CCS_12Months = df_CCS_12Months.rename(columns={"MONTH": "MONTHCOUNT"})
df_CCS_12Months = df_CCS_12Months[df_CCS_12Months['MONTHCOUNT']==11]
df_CCS_12Months

In [65]:
#export table with number of full days by station

df_CCS_FullDays = df_CCS_CountHours24.groupby(['STATION'],as_index=False).agg({'DATE':np.size})

df_CCS_FullDays = df_CCS_FullDays.rename(columns={"DATE": "NUMFULLDAYS"})

df_CCS_FullDays['STATION'] = "-" + df_CCS_FullDays['STATION'].astype(str).str.zfill(4)

df_CCS_FullDays.to_csv(os.path.join(dirResults, r'Station_FullDays_2019.csv'),index=False)

display(df_CCS_FullDays)

df_StationsWithEnoughDays = df_CCS_FullDays[df_CCS_FullDays['NUMFULLDAYS']>=260]
display(df_StationsWithEnoughDays)

NameError: name 'df_CCS_CountHours24' is not defined

In [81]:
df_CCSHourDirLane_FullDaysOnly = pd.DataFrame.merge(df_CCS_CountHours24, df_CCSHourDirLane, on=('STATION','DATE'), how='left')
df_CCSHourDirLane_FullDaysOnly

         STATION       DATE  HOURCOUNT ROUTE      MP  LANE  HOUR  HOURVOL  DIR
0            301 2019-01-01       24.0    80  129.00     1  0000    116.0  NEG
1            301 2019-01-01       24.0    80  129.00     2  0000    236.0  NEG
2            301 2019-01-01       24.0    80  129.00     3  0000     62.0  NEG
3            301 2019-01-01       24.0    80  129.00     1  0000     70.0  POS
4            301 2019-01-01       24.0    80  129.00     2  0000    158.0  POS
...          ...        ...        ...   ...     ...   ...   ...      ...  ...
4062176      716 2019-06-30       24.0    18    3.37     2  2300     32.0  NEG
4062177      716 2019-06-30       24.0    18    3.37     3  2300     27.0  NEG
4062178      716 2019-06-30       24.0    18    3.37     1  2300      3.0  POS
4062179      716 2019-06-30       24.0    18    3.37     2  2300     36.0  POS
4062180      716 2019-06-30       24.0    18    3.37     3  2300     42.0  POS

[4062181 rows x 9 columns]

In [82]:
df_CCSHourDir_FullDaysOnly = df_CCSHourDirLane_FullDaysOnly.groupby(['STATION','DATE','ROUTE','MP','DIR','HOUR'],as_index=False).agg({'HOURVOL':np.sum})
df_CCSHourDir_FullDaysOnly

         STATION       DATE ROUTE      MP  DIR  HOUR  HOURVOL
0            301 2019-01-01    80  129.00  NEG  0000    414.0
1            301 2019-01-01    80  129.00  NEG  0100    431.0
2            301 2019-01-01    80  129.00  NEG  0200    296.0
3            301 2019-01-01    80  129.00  NEG  0300    187.0
4            301 2019-01-01    80  129.00  NEG  0400    123.0
...          ...        ...   ...     ...  ...   ...      ...
1716936      716 2019-06-30    18    3.37  POS  1900    297.0
1716937      716 2019-06-30    18    3.37  POS  2000    225.0
1716938      716 2019-06-30    18    3.37  POS  2100    190.0
1716939      716 2019-06-30    18    3.37  POS  2200    126.0
1716940      716 2019-06-30    18    3.37  POS  2300     81.0

[1716941 rows x 7 columns]

In [83]:
df_CCSHourDir_AverageAnnual = df_CCSHourDir_FullDaysOnly.groupby(['STATION','ROUTE','MP','DIR','HOUR'],as_index=False).agg({'DATE':[np.size],'HOURVOL':[np.mean]})
df_CCSHourDir_AverageAnnual = df_CCSHourDir_AverageAnnual.droplevel(1, axis=1)
df_CCSHourDir_AverageAnnual = df_CCSHourDir_AverageAnnual.rename(columns={"DATE": "NUMDAYS", "HOURVOL": "AAHOURVOL"})

df_CCSHourDir_AverageAnnual['AAHOURVOL'] = df_CCSHourDir_AverageAnnual['AAHOURVOL'].astype(int)
display(df_CCSHourDir_AverageAnnual)

      STATION ROUTE      MP  DIR  HOUR  NUMDAYS  AAHOURVOL
0         301    80  129.00  NEG  0000      288        240
1         301    80  129.00  NEG  0100      288        159
2         301    80  129.00  NEG  0200      288        125
3         301    80  129.00  NEG  0300      288        106
4         301    80  129.00  NEG  0400      288        148
...       ...   ...     ...  ...   ...      ...        ...
6667      716    18    3.37  POS  1900      170        424
6668      716    18    3.37  POS  2000      170        352
6669      716    18    3.37  POS  2100      170        258
6670      716    18    3.37  POS  2200      170        160
6671      716    18    3.37  POS  2300      170         94

[6672 rows x 7 columns]

In [84]:
df_CCSHourDir_AverageAnnual_Total = df_CCSHourDir_AverageAnnual.groupby(['STATION','ROUTE','MP','HOUR'],as_index=False).agg({'DIR':[np.size],'AAHOURVOL':[np.sum]})
df_CCSHourDir_AverageAnnual_Total = df_CCSHourDir_AverageAnnual_Total.droplevel(1,axis=1)
df_CCSHourDir_AverageAnnual_Total = df_CCSHourDir_AverageAnnual_Total.rename(columns={'DIR':'DIRCOUNT'})
df_CCSHourDir_AverageAnnual_Total['DIR'] = "TOT"
display(df_CCSHourDir_AverageAnnual_Total)

df_CCSHourDir_AverageAnnual_wTotal = df_CCSHourDir_AverageAnnual[['STATION','ROUTE','MP','DIR','HOUR','AAHOURVOL']].append(df_CCSHourDir_AverageAnnual_Total[['STATION','ROUTE','MP','DIR','HOUR','AAHOURVOL']], ignore_index=True)


df_CCSHourDir_AverageAnnual_wTotal['DIR_HOUR'] = df_CCSHourDir_AverageAnnual_wTotal['DIR'] + "_" + df_CCSHourDir_AverageAnnual_wTotal['HOUR']

df_CCSHourDir_AverageAnnual_wTotal

      STATION ROUTE      MP  HOUR  DIRCOUNT  AAHOURVOL  DIR
0         301    80  129.00  0000         2        449  TOT
1         301    80  129.00  0100         2        297  TOT
2         301    80  129.00  0200         2        232  TOT
3         301    80  129.00  0300         2        215  TOT
4         301    80  129.00  0400         2        329  TOT
...       ...   ...     ...   ...       ...        ...  ...
3331      716    18    3.37  1900         2        763  TOT
3332      716    18    3.37  2000         2        624  TOT
3333      716    18    3.37  2100         2        452  TOT
3334      716    18    3.37  2200         2        283  TOT
3335      716    18    3.37  2300         2        180  TOT

[3336 rows x 7 columns]

       STATION ROUTE      MP  DIR  HOUR  AAHOURVOL  DIR_HOUR
0          301    80  129.00  NEG  0000        240  NEG_0000
1          301    80  129.00  NEG  0100        159  NEG_0100
2          301    80  129.00  NEG  0200        125  NEG_0200
3          301    80  129.00  NEG  0300        106  NEG_0300
4          301    80  129.00  NEG  0400        148  NEG_0400
...        ...   ...     ...  ...   ...        ...       ...
10003      716    18    3.37  TOT  1900        763  TOT_1900
10004      716    18    3.37  TOT  2000        624  TOT_2000
10005      716    18    3.37  TOT  2100        452  TOT_2100
10006      716    18    3.37  TOT  2200        283  TOT_2200
10007      716    18    3.37  TOT  2300        180  TOT_2300

[10008 rows x 7 columns]

In [85]:
df_CCSDailyDir_AverageAnnual = df_CCSHourDir_AverageAnnual_wTotal.groupby(['STATION','ROUTE','MP','DIR'],as_index=False).agg({'HOUR':[np.size],'AAHOURVOL':[np.sum]})
df_CCSDailyDir_AverageAnnual = df_CCSDailyDir_AverageAnnual.droplevel(1, axis=1)
df_CCSDailyDir_AverageAnnual = df_CCSDailyDir_AverageAnnual.rename(columns={'HOUR':'HOURCOUNT','AAHOURVOL':'AADAILYVOL'})
df_CCSDailyDir_AverageAnnual['DIR_AADT'] = df_CCSDailyDir_AverageAnnual['DIR'] + "_AADT"
df_CCSDailyDir_AverageAnnual

     STATION ROUTE       MP  DIR  HOURCOUNT  AADAILYVOL  DIR_AADT
0        301    80  129.000  NEG         24       28149  NEG_AADT
1        301    80  129.000  POS         24       28365  POS_AADT
2        301    80  129.000  TOT         24       56514  TOT_AADT
3        302    15  290.600  NEG         24      108317  NEG_AADT
4        302    15  290.600  POS         24      103695  POS_AADT
..       ...   ...      ...  ...        ...         ...       ...
412      715     9   30.587  POS         24        3403  POS_AADT
413      715     9   30.587  TOT         24        6790  TOT_AADT
414      716    18    3.370  NEG         24        8132  NEG_AADT
415      716    18    3.370  POS         24        7997  POS_AADT
416      716    18    3.370  TOT         24       16129  TOT_AADT

[417 rows x 7 columns]

In [86]:
#pivot data
df_CCSHourDir_AverageAnnual_Pivot = df_CCSHourDir_AverageAnnual_wTotal.pivot_table(index=['STATION','ROUTE','MP'], columns='DIR_HOUR', values='AAHOURVOL').reset_index()
display(df_CCSHourDir_AverageAnnual_Pivot)

df_CCSDailyDir_AverageAnnual_Pivot  = df_CCSDailyDir_AverageAnnual.pivot_table(index=['STATION','ROUTE','MP'], columns='DIR_AADT', values='AADAILYVOL').reset_index()
display(df_CCSDailyDir_AverageAnnual_Pivot)

#combined
df_CCSAnnualAverages = pd.DataFrame.merge(df_CCSDailyDir_AverageAnnual_Pivot,df_CCSHourDir_AverageAnnual_Pivot,on=('STATION','ROUTE','MP'))

df_CCSAnnualAverages['ROUTE'] = df_CCSAnnualAverages['ROUTE'].astype(str).str.zfill(4)


df_Stations = df_CCSAnnualAverages[['STATION']].copy()

df_Stations['STATION_N'] = df_Stations['STATION']
df_Stations['STATION'  ] = "-" + df_Stations['STATION_N'].astype(str).str.zfill(4)

df_CCSAnnualAverages = df_CCSAnnualAverages.rename(columns={"STATION": "STATION_N"})

df_CCSAnnualAverages = pd.DataFrame.merge(df_Stations,df_CCSAnnualAverages,on="STATION_N")
df_CCSAnnualAverages = df_CCSAnnualAverages.round({'MP': 3})

display(df_Stations)
display(df_CCSAnnualAverages)

DIR_HOUR,STATION,ROUTE,MP,NEG_0000,NEG_0100,NEG_0200,NEG_0300,NEG_0400,NEG_0500,NEG_0600,...,TOT_1400,TOT_1500,TOT_1600,TOT_1700,TOT_1800,TOT_1900,TOT_2000,TOT_2100,TOT_2200,TOT_2300
0,301,80,129.000,240,159,125,106,148,333,784,...,3758,4196,4519,4676,3444,2321,1910,1590,1210,739
1,302,15,290.600,1156,680,454,371,554,1640,3505,...,13641,15325,16147,15424,13693,10400,8832,7380,5456,3217
2,303,91,45.240,18,11,12,22,62,149,259,...,591,650,708,709,574,406,309,247,166,107
3,304,89,499.810,3,1,0,0,1,6,17,...,210,214,215,197,169,138,111,74,39,15
4,305,24,8.064,16,9,8,8,8,22,49,...,257,275,287,273,204,143,117,86,56,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,712,7,1.337,15,8,8,12,17,40,70,...,306,324,334,319,240,175,148,109,83,61
135,713,7,4.800,12,4,3,8,18,66,98,...,319,343,356,361,268,192,160,117,91,64
136,714,7,6.910,12,3,2,4,11,41,61,...,225,246,241,232,174,121,103,74,62,47
137,715,9,30.587,9,3,1,1,3,10,28,...,540,597,562,505,404,316,234,170,130,58
138,716,18,3.370,33,16,13,15,33,109,216,...,1185,1259,1257,1303,1020,763,624,452,283,180

DIR_AADT  STATION ROUTE       MP  NEG_AADT  POS_AADT  TOT_AADT
0             301    80  129.000     28149     28365     56514
1             302    15  290.600    108317    103695    212012
2             303    91   45.240      4159      4247      8406
3             304    89  499.810      1282      1298      2580
4             305    24    8.064      1730      1762      3492
..            ...   ...      ...       ...       ...       ...
134           712     7    1.337      2175      2192      4367
135           713     7    4.800      2350      2278      4628
136           714     7    6.910      1590      1522      3112
137           715     9   30.587      3387      3403      6790
138           716    18    3.370      8132      7997     16129

[139 rows x 6 columns]

    STATION  STATION_N
0     -0301        301
1     -0302        302
2     -0303        303
3     -0304        304
4     -0305        305
..      ...        ...
134   -0712        712
135   -0713        713
136   -0714        714
137   -0715        715
138   -0716        716

[139 rows x 2 columns]

,STATION,STATION_N,ROUTE,MP,NEG_AADT,POS_AADT,TOT_AADT,NEG_0000,NEG_0100,NEG_0200,...,TOT_1400,TOT_1500,TOT_1600,TOT_1700,TOT_1800,TOT_1900,TOT_2000,TOT_2100,TOT_2200,TOT_2300
0,-0301,301,0080,129.000,28149,28365,56514,240,159,125,...,3758,4196,4519,4676,3444,2321,1910,1590,1210,739
1,-0302,302,0015,290.600,108317,103695,212012,1156,680,454,...,13641,15325,16147,15424,13693,10400,8832,7380,5456,3217
2,-0303,303,0091,45.240,4159,4247,8406,18,11,12,...,591,650,708,709,574,406,309,247,166,107
3,-0304,304,0089,499.810,1282,1298,2580,3,1,0,...,210,214,215,197,169,138,111,74,39,15
4,-0305,305,0024,8.064,1730,1762,3492,16,9,8,...,257,275,287,273,204,143,117,86,56,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,-0712,712,0007,1.337,2175,2192,4367,15,8,8,...,306,324,334,319,240,175,148,109,83,61
135,-0713,713,0007,4.800,2350,2278,4628,12,4,3,...,319,343,356,361,268,192,160,117,91,64
136,-0714,714,0007,6.910,1590,1522,3112,12,3,2,...,225,246,241,232,174,121,103,74,62,47
137,-0715,715,0009,30.587,3387,3403,6790,9,3,1,...,540,597,562,505,404,316,234,170,130,58
138,-0716,716,0018,3.370,8132,7997,16129,33,16,13,...,1185,1259,1257,1303,1020,763,624,452,283,180

In [106]:
#get shapefiles for truck percentages
sdf_AADT = pd.DataFrame.spatial.from_featureclass(shp_AADT)

#delete any featurees without a value in SUTRK2019 to filter out cross streets that can be mis-joined
sdf_AADT = sdf_AADT[sdf_AADT['SUTRK2019'] > 0]

display(sdf_AADT)

sdf_AADT.spatial.to_featureclass(shp_AADT_onlywithtruckstations)

#sdf_CCS = pd.DataFrame.spatial.from_featureclass(shp_CCS)
#sdf_CCS.spatial.project(26912)
#display(sdf_CCS)

,FID,OBJECTID,Station,DESC,RT_NUM,ROUTE_NAME,START_ACCU,END_ACCUM,AADT2019,AADT2018,...,AADT1986,AADT1985,AADT1984,AADT1983,AADT1982,AADT1981,SUTRK2019,CUTRK2019,Shape_Leng,SHAPE
2700,2700,2701,035-1455,SR 140 - Vehicle Direction Station Bluffdale,287,0287PM,-2.800000e-07,0.509000,2200,2200,...,480,460,450,450,430,420,0.089309,0.047605,1077.435008,"{""hasZ"": true, ""paths"": [[[-111.90057245979328..."
2701,2701,2702,003-0425,Willard Bay Parking North Marina via Park Rd -...,315,0315PM,8.250000e-01,1.771505,3300,3400,...,450,440,430,650,650,650,0.057645,0.265266,2029.247447,"{""hasZ"": true, ""paths"": [[[-112.05377037399924..."
2702,2702,2703,051-0141,SR 40 Mayflower - Jordanelle Reservoir Boat Ramp,319,0319PM,-2.800000e-07,0.901000,1300,1300,...,0,0,0,0,0,0,0.094570,0.254773,1911.013740,"{""hasZ"": true, ""paths"": [[[-111.44178719464288..."
2725,2725,2726,049-0955,800 North Spanish Fork *ATR 327*,6,0006PM,1.740716e+02,174.944101,32000,31000,...,5300,5000,4600,3300,4900,4900,0.065727,0.064044,1839.502588,"{""hasZ"": true, ""paths"": [[[-111.64002196865007..."
2726,2726,2727,027-0031,SR 50 Delta via SR 6 - SR 136,6,0006PM,8.941609e+01,93.866033,3400,3400,...,7300,7600,7500,7200,7000,6600,0.130157,0.150358,9271.186684,"{""hasZ"": true, ""paths"": [[[-112.56370729336064..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4530,4530,4531,035-0515,8000 South,89,0089PM,3.685271e+02,368.782960,25000,25000,...,26000,25000,24000,24000,23000,23000,0.070660,0.026538,543.926413,"{""hasZ"": true, ""paths"": [[[-111.89077337885762..."
4531,4531,4532,057-0320,2nd St via SR 89 Harrisville Rd - 400 N Ogden,89,0089PM,4.167202e+02,417.291582,11000,10000,...,9700,9600,9400,9700,9600,9500,0.142116,0.019792,1225.622123,"{""hasZ"": true, ""paths"": [[[-111.96965611302595..."
4532,4532,4533,039-0090,SR 132 via SR 89 - SR 117,89,0089PM,2.680083e+02,277.024679,3400,3300,...,1300,1300,1300,900,1400,1500,0.061286,0.035498,18832.875197,"{""hasZ"": true, ""paths"": [[[-111.55890785974016..."
4533,4533,4534,035-0625,North Temple,89,0089PM,3.805584e+02,381.309163,21000,20000,...,22000,22000,22000,21000,21000,21000,0.142116,0.019792,1600.041127,"{""hasZ"": true, ""paths"": [[[-111.8996871718774,..."
4534,4534,4535,049-0435,SR 147 800 North Mapleton,89,0089PM,3.265209e+02,327.593891,14000,14000,...,6500,6400,6200,5200,5500,5500,0.087814,0.123042,2264.260113,"{""hasZ"": true, ""paths"": [[[-111.59784770189279..."

'E:\\GitHub\\Continuous-Count-Station-Data\\intermediate\\AADT_Open_Data_WithTruckStations.shp'

In [114]:
def deleteIfExists(obj):
    if arcpy.Exists(obj): arcpy.Delete_management(obj)
                      
deleteIfExists(shp_CCStoAADT)
                      
arcpy.analysis.SpatialJoin(shp_CCS, shp_AADT_onlywithtruckstations, shp_CCStoAADT, join_operation="JOIN_ONE_TO_ONE", match_option="CLOSEST")

In [115]:
sdf_CCStoAADT.columns

Index(['FID', 'Join_Count', 'TARGET_FID', 'OBJECTID', 'LAYER_ID', 'ATR_NUMBER',
       'ROUTE_NUMB', 'ROUTE_DIR_', 'START_ACCU', 'LOCTEXT', 'CNTY_NAME',
       'LATITUDE', 'LONGITUDE', 'YEAR_EST', 'YEAR_DSC', 'CreationDa',
       'Creator', 'EditDate', 'Editor', 'GlobalID', 'SENSOR1', 'OBJECTID_1',
       'Station', 'DESC_', 'RT_NUM', 'ROUTE_NAME', 'START_AC_1', 'END_ACCUM',
       'AADT2019', 'AADT2018', 'AADT2017', 'AADT2016', 'AADT2015', 'AADT2014',
       'AADT2013', 'AADT2012', 'AADT2011', 'AADT2010', 'AADT2009', 'AADT2008',
       'AADT2007', 'AADT2006', 'AADT2005', 'AADT2004', 'AADT2003', 'AADT2002',
       'AADT2001', 'AADT2000', 'AADT1999', 'AADT1998', 'AADT1997', 'AADT1996',
       'AADT1995', 'AADT1994', 'AADT1993', 'AADT1992', 'AADT1991', 'AADT1990',
       'AADT1989', 'AADT1988', 'AADT1987', 'AADT1986', 'AADT1985', 'AADT1984',
       'AADT1983', 'AADT1982', 'AADT1981', 'SUTRK2019', 'CUTRK2019',
       'Shape_Leng', 'SHAPE'],
      dtype='object')

In [116]:
#get shapefiles for truck percentages
sdf_CCStoAADT = pd.DataFrame.spatial.from_featureclass(shp_CCStoAADT)
#display(sdf_CCStoAADT)

df_TruckStation = sdf_CCStoAADT[['ATR_NUMBER','Station']]
df_TruckStation.columns = ('STATION','TRKSTATION')

#manual matches due to joining errors
#df_TruckStation.loc[df_TruckStation.STATION == '-0349', 'TRKSTATION'] = '049-0140'

display(df_TruckStation)

    STATION TRKSTATION
0     -0316   011-0255
1     -0407   035-5700
2     -0506   037-0070
3     -0601   049-0595
4     -0305   041-0016
..      ...        ...
181   -0729   019-0065
182   -0730   017-0005
183   -0731   015-0020
184   -0732   027-0150
185   -0733   053-0116

[186 rows x 2 columns]

In [122]:
df_TruckData = dfs_trucks['AADT2019']
df_TruckData = df_TruckData[['Traffic Station','SUTrucks2019','CUTrucks2019']]
df_TruckData.columns = ('TRKSTATION','SUTRUCKS','CUTRUCKS')
df_TruckData = df_TruckData.round({'SUTRUCKS': 3, 'CUTRUCKS': 3})
df_TruckData

     TRKSTATION  SUTRUCKS  CUTRUCKS
0      027-0005     0.250     0.232
1      027-0007     0.175     0.334
2      027-0010     0.162     0.265
3      027-0015     0.150     0.196
4      027-0025     0.137     0.127
...         ...       ...       ...
4539   057-1157       NaN       NaN
4540   057-1255       NaN       NaN
4541   057-1460       NaN       NaN
4542   057-1195       NaN       NaN
4543   057-1245       NaN       NaN

[4544 rows x 3 columns]

In [123]:
df_Trucks = pd.DataFrame.merge(df_TruckStation, df_TruckData, on='TRKSTATION')
df_Trucks = df_Trucks[['STATION','SUTRUCKS','CUTRUCKS']]
df_Trucks

    STATION  SUTRUCKS  CUTRUCKS
0     -0316     0.142     0.020
1     -0407     0.055     0.032
2     -0633     0.055     0.032
3     -0506     0.019     0.078
4     -0601     0.013     0.020
..      ...       ...       ...
181   -0729     0.113     0.266
182   -0730     0.137     0.078
183   -0731     0.092     0.501
184   -0732     0.078     0.328
185   -0733     0.112     0.204

[186 rows x 3 columns]

In [124]:
df_CCSExport = pd.DataFrame.merge(df_CCSAnnualAverages, df_Trucks, on="STATION")

#only export stations that have enough days of the year for confidence in AADT
df_CCSExport = pd.DataFrame.merge(df_CCSExport, df_StationsWithEnoughDays[['STATION']], on="STATION")

#export to CSV
display(df_CCSExport)

#quoting=2 puts quotes on all non-numeric fields
df_CCSExport.to_csv(os.path.join(dirResults, r'Station_AADT_2019.csv'), quoting=2, index=False)

,STATION,STATION_N,ROUTE,MP,NEG_AADT,POS_AADT,TOT_AADT,NEG_0000,NEG_0100,NEG_0200,...,TOT_1600,TOT_1700,TOT_1800,TOT_1900,TOT_2000,TOT_2100,TOT_2200,TOT_2300,SUTRUCKS,CUTRUCKS
0,-0301,301,0080,129.000,28149,28365,56514,240,159,125,...,4519,4676,3444,2321,1910,1590,1210,739,0.167,0.100
1,-0302,302,0015,290.600,108317,103695,212012,1156,680,454,...,16147,15424,13693,10400,8832,7380,5456,3217,0.101,0.058
2,-0303,303,0091,45.240,4159,4247,8406,18,11,12,...,708,709,574,406,309,247,166,107,0.099,0.044
3,-0304,304,0089,499.810,1282,1298,2580,3,1,0,...,215,197,169,138,111,74,39,15,0.142,0.020
4,-0305,305,0024,8.064,1730,1762,3492,16,9,8,...,287,273,204,143,117,86,56,36,0.028,0.062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,-0703,703,0008,0.640,13133,12574,25707,91,48,31,...,1992,2017,1669,1240,1023,769,462,269,0.132,0.019
93,-0704,704,3196,7.540,11159,12322,23481,70,35,24,...,1892,1846,1618,1255,997,701,427,245,0.078,0.100
94,-0712,712,0007,1.337,2175,2192,4367,15,8,8,...,334,319,240,175,148,109,83,61,0.110,0.107
95,-0713,713,0007,4.800,2350,2278,4628,12,4,3,...,356,361,268,192,160,117,91,64,0.132,0.053
96,-0714,714,0007,6.910,1590,1522,3112,12,3,2,...,241,232,174,121,103,74,62,47,0.156,0.062

In [125]:
df_StationsWithEnoughDays

    STATION  NUMFULLDAYS
0     -0301          288
1     -0302          296
2     -0303          331
3     -0304          325
4     -0305          331
..      ...          ...
131   -0703          333
132   -0704          321
134   -0712          311
135   -0713          315
136   -0714          324

[97 rows x 2 columns]